@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap");

.heading {
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}
.text {
  text-align: center;
  text-transform: capitalize;
  word-spacing: 2px;
  line-height: 28px;
  font-family: "Lato", sans-serif;
  width: 50%;
  margin: 0 auto;
}
.serv {
  background: rgb(255, 99, 72);
  background: linear-gradient(
    35deg,
    rgba(255, 99, 72, 1) 0%,
    rgba(255, 71, 87, 1) 53%,
    rgba(255, 165, 2, 1) 100%
  );
  height: 400px;
  color: #fff;
  opacity: 0.8;
}
hr {
  color: #fff;
  width: 20%;
  height: 4px;
}
